- content_for :title, "Winelog.xyz | Discover"

.ordering
  %ul
    %li
      = link_to "Recent", recent_wines_path
    %li
      %a{:href => "/"} Popular
    %li
      = link_to "Oldest", oldest_wines_path
    %li
      %a{:href => "/"}
      = icon('search')

  %hr

.all_wines.transitions-enabled
  - @wines.each do |wine|
    .specific_wine
      .numse
        = image_tag wine.image.url(:medium)
      .wine_info
        %h1= link_to wine.title, wine
        %hr
        %p
          %b Description:
          = truncate(wine.description, length: 200)
        .rating{:id => "stars_#{wine.id}"}
        %br

        :javascript
            $('#stars_#{wine.id}').raty({
              path: '/assets',
              readOnly: true,
              score: #{wine.rating}
            });
