.ordering
  %ul
    %li
      = link_to "Recent", recent_wines_path
    %li
      %a{:href => "/"} Popular
    %li
      = link_to "Oldest", oldest_wines_path
    %li
      %a{:href => "/"}
      = icon('search')

  %hr

.all_wines.transitions-enabled
  - @wines.each do |wine|
    .specific_wine
      .numse
        = image_tag wine.image.url(:medium)
      .wine_info
        %h1= link_to wine.title, wine
        %hr
        %p
          %b Description:
          = wine.description
