.card
  %h1 New post
  = form_for @wine, url: wines_path, html: { multipart: true } do |wine|

    .field
      = wine.file_field :image

    .field
      = wine.text_field :title, placeholder: "Name of the wine"

    .field
      = wine.text_field :brand, placeholder: "The brand of the wine"

    .field
      = wine.text_field :country, placeholder: "Which country is the wine from"

    .field
      = wine.text_field :region, placeholder: "Which region in that country?"

    .field
      = wine.text_area :grape, placeholder: "Which grapes were used?"

    .field
      = wine.date_select :vintage, { discard_day: true, discard_month: true, start_year: 1600, end_year: Time.now.year + 1}

    .field
      = wine.text_area :description, placeholder: "How would you describe it? fx smells, taste etc"

    .field
      = wine.text_area :extracomments, placeholder: "Comments/Thoughts, what did you think, what would this wine go well with? fx steak"

    .field
      -# = wine.text_field :rating, placeholder: "RATING 1-5"
      #user_stars

    .field
      = wine.submit


:javascript
  $('#user_stars').raty({
    path: '/assets',
    scoreName: 'wine[rating]',
    score: 1
  });
