= form_for @wine, url: wines_path, html: { multipart: true } do |wine|
  = wine.file_field :image
  = wine.text_field :title, placeholder: "title"
  = wine.date_select :vintage, { discard_day: true, discard_month: true, start_year: 1600, end_year: Time.now.year + 1}
  = wine.text_field :brand, placeholder: "brand"
  = wine.text_area :description, placeholder: "Description"
  = wine.text_area :extracomments, placeholder: "Extra comments/thoughts"

  = wine.submit
